* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}
.main {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 40px;
    flex-direction: row;
    gap: 20px;
}
.main a {
    background-color: burlywood;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.main h2 {
    background-color:cornflowerblue;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
@media (max-width: 768px)  {
    .main {
        flex-direction: column;
    }
}
@media (min-width: 768px) {
    .main {
        flex-direction: row;
    }
}
.main a:hover {
    background-color:darkgoldenrod;
}
